
/*============ Very large Device ===========*/
@media (min-width:1441px) and (max-width:1919px){
    .main_menu_area {
        padding: 8px 16px;
    }
    .inner_video_area {
        padding: 145px 0;
    }
}
/*============ Desktop Device ===========*/
@media (min-width:1366px) and (max-width:1440px){
    .inner_main_nav_area >ul >li >a {
        margin: 30px 6px 30px;
    }
    .service_icon {
        text-align: end;
        margin-left: 52px;
    }
    .inner_video_area {
        padding: 145px 0;
    }
}
/*============ Laptop Device ===========*/
@media (min-width:1024px) and (max-width:1365px){
    h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
        font-size: 18px;
        font-weight: 500;
    }
    .main_menu_area {
        padding: 0 5px;
    }
    .inner_main_nav_area {
        margin-left: -110px;
    }
     /* slider area css */
     .inner_slider_content {
        margin: 0  95px 0 190px;
    }
    .inner_slider_content p {
        width: 100%;
    }
     .inner_slider_area{
        height: 700px;
    }
    .inner_slider_content h2, .inner_slider_content h3{
        font-size: 40px;
        width: 100%;
    }
    .inner_main_nav_area >ul >li >a {
        margin: 30px 5px 30px;
    }
    .inner_main_nav_area {
        margin-left: 0;
    }
    .service_icon {
        margin-left: -22px;
    }
    .video_area {
        margin: 60px 0 -130px;
        background-repeat: round;
    }
    .inner_subscribe_form_area button {
        width: 30%;
    }
    .inner_video_area {
        padding: 145px 0;
    }
    .section_title h2 {
        font-size: 38px;
    }
    .ycalender_inner th {
        padding: 10px 11px;
        font-size: 14px;
    }
    .ycalender_inner td {
        padding: 10px 10px;
        font-size: 13px;
    }
}
/*============= Tablet Large device ===============*/
@media (min-width:992px) and (max-width:1023px){
    h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
        font-size: 18px;
        font-weight: 500;
    }
    .header_top {
        padding: 12px 0;
    }
    .main_menu_area {
        padding: 0 5px;
    }
    .inner_main_nav_area {
        margin-left: -110px;
    }
     /* slider area css */
     .inner_slider_content {
        margin: 0  95px 0 190px;
    }
    .inner_slider_content p {
        width: 100%;
    }
     .inner_slider_area, .h2_inner_slider{
        height: 700px;
    }
    .inner_slider_content h2, .inner_slider_content h3{
        font-size: 40px;
        width: 100%;
    }
    .inner_main_nav_area >ul >li >a {
        margin: 30px 5px 30px;
    }
    .inner_main_nav_area {
        margin-left: 0;
    }
    .main_about h2 {
        font-size: 40px;
    }
    .service_icon {
        margin-left: -22px;
    }
    .video_area {
        margin: 60px 0 -130px;
        background-repeat: round;
    }
    .inner_video_area {
        padding: 130px 0 150px;
    }
    .inner_subscribe_form_area button {
        width: 30%;
    }
    .inner_video_area {
        padding: 145px 0;
    }
    .ycalender_inner th {
        padding: 10px 11px;
        font-size: 14px;
    }
    .ycalender_inner td {
        padding: 10px 10px;
        font-size: 13px;
    }
}
/*============= Tablet device ===============*/
@media (min-width:768px) and (max-width:991px){
    h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
        font-size: 18px;
        font-weight: 500;
    }
    .header_top {
        padding: 12px 0;
    }
    .mobile_logo_area {
        display: block !important;
        padding: 20px 0 20px;
    }
     /* main nav area css */
     .main_menu_area{
        display: none;
    }
     /* slider area css */
     .inner_slider_content {
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .inner_contact_content h2 {
        font-size: 35px;
    }
     .inner_slider_area, .h2_inner_slider{
        height: 500px;
    }
    .inner_breadcum_area {
        text-align: center;
    }
    .top_menu_left {
        margin-left: 0px;
    }
    .inner_slider_content h2, .inner_slider_content h3 {
        font-size: 31px;
        width: 100%;
    }
    .main_about {
        margin: 0;
    }
    .main_about h2 {
        font-size: 30px;
    }
    .service_icon {
        margin-left: -17px;
    }
    .main_service {
        gap: 11px;
    }
    .service_text h3 {
        font-size: 17px;
    }
    .main_timing {
        padding: 35px 20px 35px 31px;
    }
    .mede_faq h2 {
        font-size: 29px;
    }
    .b_btn a {
        padding: 18px 32px;
    }
    .video_area {
        margin: 60px 0 -130px;
    }
    .inner_video_area {
        padding: 95px 0 70px;
    }
    .section_title h2 {
        font-size: 30px;
    }
    .inner_faq_ac_item a {
        font-size: 16px;
        padding: 15px 5px;
    }
    .inner_counter_sub_cont h3, .inner_counter_sub_cont span {
        font-size: 45px;
    }
    .footer_widget {
        margin: 50px 0 0;
    }
    .ycalender_inner th {
        padding: 10px 14px;
    }
}
/*============= mobile large device ===============*/
@media (max-width:767px){
    h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
        font-size: 18px;
        font-weight: 500;
    }
    .mobile_logo_area {
        display: block !important;
        padding: 20px 0 20px;
    }
     /* main nav area css */
     .main_menu_area{
        display: none;
    }
    .inner_breadcum_area h1 {
        font-size: 30px;
    }
    .inner_breadcum_area {
        padding: 100px 0;
        text-align: center;
    }
     /* slider area css */
     .inner_slider_content h2,.inner_slider_content h3 {
        font-size: 38px;
    }
    .inner_slider_content {
        margin: 0 0;
        text-align: center;
        width: 100%;
    }
    .inner_slider_area {
        height: 664px;
    }
    .section_title h2 {
        font-size: 37px;
    }
    .service_icon {
        margin-left: 50px;
    }
    .b_btn {
        margin-bottom: 30px;
    }
    .inner_video_area {
        padding: 70px 0 25px;
    }
    .video_area {
        background-size: contain;
        margin: 60px 0 -130px;
    }
    .inner_contact_area {
        margin-bottom: 20px;
    }
    .footer_widget {
        text-align: center;
        margin: 45px 0 -12px;
    }
    #scrollUp {
        bottom: 50px;
        right: 10px;
    }
}
/*============= mobile device ===============*/
@media (min-width:320px) and (max-width:480px){
    .mobile_logo_area {
        padding: 20px 0;
    }
    .inner_slider_content h2, .inner_slider_content h3 {
        font-size: 28px;
    }
    .inner_slider_area {
        margin: 0 0;
        height: 500px;
    }
    .header_top {
        padding: 12px 0;
    }
    .main_top_right {
        justify-content: center;
    }
    .top_menu_left {
        text-align: center;
    }
    .b_btn a {
        margin-bottom: 20px;
    }
    .b_btn {
        text-align: center;
    }
    .main_about h2 {
        font-size: 28px;
    }
    .section_title h2 {
        font-size: 26px;
    }
    .service_text h3 {
        font-size: 19px;
    }
    .section_title img {
        left: 21%;
    }
    .main_service {
        display: block;
        text-align: center;
    }
    .service_icon {
        margin-left: 5px;
        text-align: center;
    }
    .txmartex.single_marq {
        font-size: 40px;
    }
    .inner_video_area h2 {
        font-size: 22px;
    }
    .main_timing {
        padding: 35px 15px 35px 15px;
    }
    .time_icon span {
        font-size: 22px;
    }
    .mede_faq h2 {
        font-size: 25px;
    }
    .mede_faq, .inner_test_subcont h3 {
        text-align: center;
    }
    .video_area {
        background-size: cover;
    }
    .inner_contact_form.tns_input button {
        padding: 15px 14px;
    }
    .testimonial_area {
        margin: 100px 0 60px;
    }
    .inner_testimonial_content p {
        font-size: 16px;
        text-align: center;
    }
    .testimonial_inner_img img {
        width: 100%;
    }
    .oldcontact_style2 {
        padding: 60px 20px 60px;
    }
    .ycalender_inner th {
        padding: 10px 12px;
    }
    .ycalender_inner td {
        padding: 10px 9px;
    }
    .ycalender_inner {
        padding: 20px 18px;
    }
    .portfolio_title h3 {
        font-size: 32px;
    }
}